:root {
  --g1: rgb(0, 28, 48);
  --g2: rgb(29, 92, 87);
  --LightText: rgb(218, 255, 251);
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none !important;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

#section1 {
  animation: background-pan 20s linear infinite;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

#section1.toggled {
  animation: none;
}

#section1.toggled > #tiles > .tile:hover {
  opacity: 0.1 !important;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 0.5px;
  position: absolute;
}

#title {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 6vw;
  margin: 0px;
  pointer-events: none;
  transition: opacity 1600ms ease;
  width: 50vw;
  z-index: 3;
}
 
#title > .fancy {
  color: var(--g2);
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  line-height: 0.9em;
}

#navBar {
  margin: 0.5%;
  position: absolute;
  z-index: 4;
  background-color: #ffffff20;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.496);
  border-radius: 8px;
  width: 99%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--LightText);
  font-size: 20px;
}

#navBar ul,
#logo,
#shoppingCartDiv {
  padding: 45px;
}

#navBar ul {
  display: flex;
  justify-content: space-between;
}

#navBar ul li a {
  color: var(--LightText);
  text-decoration: none;
}
#navBar ul li {
  padding: 25px;
}

#shoppingBagIMG {
  height: 30px;
  width: 25px;
  margin-left: 15px;
}
#shoppingCartDiv {
  display: flex;
  width: 2%;
  justify-content: center;
  align-items: flex-end;
}
#canvas {
  z-index: 5;
  height: 1066px;
  width: 600px; 
  position: absolute;
  right: 0px;
  top: 00px;
}